body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
}

#player {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
}

input {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#video-preview {
    margin-top: 20px;
    max-width: 100%;
}

#time-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

input[type="range"] {
    width: 80%;
    margin: 10px 0;
}

input[type="text"] {
    text-align: center;
    width: 80%;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
}
